@model API_project.Models.CustomOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CustomOrder</h4>
    <hr />
    <dl class="dl-horizontal">

        @if (User.IsInRole("admin"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.CustomerID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerID)
            </dd>

        }
        

        <dt>
            @Html.DisplayNameFor(model => model.RequestDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")<br />
    @if (User.IsInRole("admin"))
        
    {
        @Html.ActionLink("Create Proposal", "Create", "CustomOrderItems", new {id = Model.Id}, new { @class = "btn-success btn" })
    }
</p>
