@model API_project.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">

        <table class="left">
            @if (Model.Logins.Count == 0)
            {
                <tr>
                    <td>
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn-danger btn" })
                        }

                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <br />
                </td>
            </tr>
            @if ((User.Identity.IsAuthenticated && !User.IsInRole("admin")) || Model.Logins.Count > 0)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Update User Info", "UpdateUserInformation", null, new { @class = "btn-primary btn" })
                    </td>
                </tr>

                <tr>
                    <td>
                        <br />
                    </td>
                </tr>
            }
            </table>
            
    </dl>
</div>
