@model IEnumerable<API_project.Models.CustomOrderItem>

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Orders</h2>


<table class="table">
    <tr>
        @if (User.IsInRole("admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Estimated Completion
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellersNotes)
        </th>
        @if (User.IsInRole("admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.HasBeenPurchased)
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedTimeOfCompletion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellersNotes)
            </td>
            @if (User.IsInRole("admin"))
            {
                <th>
                    @Html.DisplayFor(modelItem => item.HasBeenPurchased)
                </th>
            }
            <td>
                @Html.ActionLink("Details", "Details","CustomOrderItems", new { id = item.Id }, new { @class = "btn-primary btn" })
            </td>
        </tr>
    }

</table>
